.u-columns {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  padding: 50px;
  .u-column1 {
    border-right: 1px solid #6e37b7;
    @media screen and(max-width: 800px) {
      border-right: none;
      border-bottom: 1px solid #6e37b7;
    }
    a {
      color: #6e37b7;
    }
  }
  .u-column2 {
    border-left: 1px solid #6e37b7;
    @media screen and(max-width: 800px) {
      border-left: none;
      border-top: 1px solid #6e37b7;
    }
  }
  > div {
    width: 50%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 35px;
    h2 {
      margin-bottom: 25px;
    }
    form {
      width: 80%;
      p {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    .woocommerce-privacy-policy-text {
      font-size: 12px;
    }
    button {
      background-color: transparent;
      color: #6e37b7;
      border: 1px solid #6e37b7;
      &:hover {
        background-color: #6e37b7;
        color: white;
      }
    }
    .woocommerce-form-login__rememberme {
      margin-bottom: 20px;
    }
  }
}
.widget-area {
  display: none;
}

// My account navigation
.woocommerce-MyAccount-navigation {
  padding: 0 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin: 0;
    li {
      a {
        padding: 5px 10px;
        background-color: #80738d;
        color: white;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background-color: #6e37b7;
        }
      }
    }
  }
  .woocommerce-MyAccount-navigation-link--downloads {
    display: none;
  }
}

// Dashboard
.woocommerce-MyAccount-content {
  font-size: 16px;
  padding: 0 20px;
  margin-top: 50px;
  > p:nth-of-type(1) {
    font-size: 24px;
    text-align: center;
  }
  > p:last-of-type {
    margin: 0 100px;
  }
  a {
    color: #6e37b7;
  }
}

// Addresses
.woocommerce-Address-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

//Orders
.woocommerce-orders-table,
.woocommerce-table--order-details {
  thead {
    th {
      padding-bottom: 15px;
    }
  }
  td {
    text-align: center;
    padding-bottom: 10px;
  }
}

.woocommerce-order-details__title {
  margin-bottom: 25px;
}

mark {
  background: #6e37b7;
  color: white;
  padding: 0 5px;
}

// Account details
.woocommerce-EditAccountForm {
  span {
    color: #6e37b7;
  }
  input {
    outline: none;
  }
  fieldset {
    border: 2px solid #6e37b7;
    margin-bottom: 25px;
    legend {
      text-transform: uppercase;
      padding: 0 10px;
      color: #6e37b7;
      font-size: 18px;
      margin-bottom: 15px;
    }
    p {
      padding: 0 5px;
    }
  }
  button {
    padding: 5px 10px;
    background-color: #80738d;
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #6e37b7;
    }
  }
}

//Payment Methods
// .woocommerce-PaymentMethod {
//   display: flex;
//   align-items: center;
//   label {
//     display: flex;
//     flex-direction: column;
//     margin-left: 50px;
//     span {
//       display: flex;
//       gap: 15px;
//       margin-top: 20px;
//       .wc-stripe-card-icon {
//         width: 150px;
//       }
//     }
//   }
// }
.woocommerce-Payment {
  .form-row {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    button {
      padding: 5px 10px;
      background-color: #80738d;
      color: white;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: #6e37b7;
      }
    }
  }
}

.woocommerce {
   min-height: calc(100vh - 334px - 106px);
}