.site-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .woocommerce-info {
    background-color: transparent;
  }
}

.woocommerce-breadcrumb {
  display: none;
}

.woocommerce-products-header {
  width: 100%;
  .woocommerce-products-header__title {
    text-align: center;
    color: #411180;
    width: 100%;
    border-bottom: solid 2px #B49DCC;
  }
}


.woof_products_top_panel_content, woof_products_top_panel, woocommerce-notices-wrapper, woocommerce-result-count, woocommerce-ordering {
  display: none;
}

.woocommerce-result-count, .woocommerce-ordering {
  display: none;
}

.star-rating{
  display: none;
}

.products {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 70%;
  flex-wrap: wrap;
  margin-bottom: 40px !important;

  li.product {
    width: 20% !important;
    min-width: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #707070;
    padding: 1% 0;
    margin-right: 0 !important;
    margin-bottom: 2% !important;

    a.woocommerce-LoopProduct-link {
      text-decoration: none;

      img {
        min-width: 228px;
      }
      h2 {
        text-align: left;
        color: #7f7f7f;
        font-size: 22px;
        margin: 0;
      }
      span {
        color: #7f7f7f;
        font-size: 22px;
      }
    }
    a.product_type_simple {
      display: none;
    }
  }
}

.cart {
  justify-content: flex-start;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 2%;

  .cart-empty {
    border-top: 1px solid #B49DCC;
    padding: 4% 0;
  }
}

.site-footer {
  width: 100%;
}