*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.single{
  .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #411180;
    .woocommerce-product-gallery{
      width: 30%;
      min-width: 385px;
    }
    .entry-summary{
      width: 70%;
      min-width: 385px;
      padding: 25px;
    }
    .woocommerce-product-gallery{
      .flex-control-thumbs{
        li{
          width: 18% !important;
        }
      }
    }
    .woocommerce-product-gallery__image{
      width: 100%;
    }
    .woocommerce-product-gallery__trigger{
      display: none !important;
    }
    .summary{
      width: 30%;
    }
    #tab-title-description{
      display: none;
    }
    #tab-description{
      display: none !important;
    }
    .woocommerce-tabs{
      width: 90%;
    }
    .related{
      display: none;
    }
    .cart{
      display: flex;
      flex-direction: column;
      align-items: center;
      .wc-stripe-product-checkout-container{
        display: flex;
        justify-content: center;
      }
      .single_add_to_cart_button{
        background-color: #80738D;
        border: none;
        border-radius: 5px;
        color: white;
        text-align: center;
        font-size: 12px;
        padding: 15px 75px;
        margin-top: 20px;
        width: 250px;
      }
    }
    .posted_in{
      display: none;
    }
    .product_meta{
      display: none;
    }
  }
  .widget-area{
    display: none;
  }
  .reviews_tab{
    a{
      color: #411180;
    }
  }
  .additional_information_tab{
    a{
      color: #411180;
    }
  }
  .woocommerce-noreviews{
    background-color: #80738D;
    color: white;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .woocommerce-message{
    background-color: lightgreen;
    padding: 10px 30px;
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    gap: 15px;
    align-items: center;
    a{
      text-decoration: none;
      color: black;
      background-color: floralwhite;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 10px;
      text-align: center;
    }
  }
}

.woocommerce-breadcrumb{
  display: none;
}