@use "sass:math";

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: math.div($columns--margin * $numberColumns - 1, $numberColumns);
}

@mixin sm {
	@media (max-width: 640px) { @content; }
}

@mixin md {
	@media (max-width: 768px) { @content; }
}

@mixin lg {
	@media (max-width: 1024px) { @content; }
}

@mixin xl {
	@media (max-width: 1280px) { @content; }
}

@mixin xxl {
	@media (max-width: 1536px) { @content; }
}